@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box; word-break: keep-all;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {width: 100%; min-width: 320px; height: 100%; min-height: 100%; font-size: 1em; font-family: 'Camber-SB', 'NotoSansCJKkr-M';}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, main, section, caption {display: block;}
ul, ol {list-style-type: none;}
blockquote, q {quotes: none;}
a {text-decoration: none; color: inherit;}
table {border-collapse: collapse; border-spacing: 0;}
colgroup {display: table-column-group;}
col {display: table-column;}
em {font-style: italic;}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
	cursor:pointer;
}

button::-moz-focus-inner {
    border: none;
    padding: 0;
}
button {cursor: pointer; display: block; border: none; box-shadow: none;}
button:focus, button:active {margin: 0; padding: 0; border: none;}

input {height: auto; outline-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; background: none; font-family: 'NotoSansCJKkr-M'; font-size: 17px; letter-spacing: -0.06em; text-align: center;}
input[type="submit"] {cursor: pointer;}
input:-internal-autofill-selected {background: inherit !important; color: inherit !important;}

@font-face {
    font-family: 'Camber-R';
	font-weight: normal;
    src: url('./../fonts/Camber_Family/EmtypeFoundry-CamberRegularRegular.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Camber_Family/EmtypeFoundry-CamberRegularRegular.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Camber_Family/EmtypeFoundry-CamberRegularRegular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Camber-M';
	font-weight: normal;
    src: url('./../fonts/Camber_Family/EmtypeFoundry-CamberMediumRegular.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Camber_Family/EmtypeFoundry-CamberMediumRegular.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Camber_Family/EmtypeFoundry-CamberMediumRegular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Camber-SB';
	font-weight: normal;
    src: url('./../fonts/Camber_Family/EmtypeFoundry-CamberSemiBoldRegular.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Camber_Family/EmtypeFoundry-CamberSemiBoldRegular.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Camber_Family/EmtypeFoundry-CamberSemiBoldRegular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'MVB-SolanoGothicMVB-R';
	font-weight: normal;
    src: url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Rg.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Rg.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Rg.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'MVB-SolanoGothicMVB-B';
	font-weight: normal;
    src: url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Bd.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Bd.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Bd.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'MVB-SolanoGothicMVB-BC';
	font-weight: normal;
    src: url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-BdCap.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-BdCap.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-BdCap.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'MVB-SolanoGothicMVB-SB';
	font-weight: normal;
    src: url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Sb.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Sb.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Solano_Gothic_MVB_Basic/MVB-SolanoGothicMVB-Sb.ttf') format('truetype'); /* Safari, Android, iOS */
}
/*
@font-face {
   font-family: 'NotoSansCJKkr-R';
   font-style: normal;
   font-weight: normal;
	src: url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('opentype'),
		url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff') format('woff'),
		url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf') format('truetype');
 }

@font-face {
	font-family: 'NotoSansCJKkr-M';
	font-style: normal;
	font-weight: normal;
	src: url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('opentype'),
		url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff') format('woff'),
		url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.ttf') format('truetype');
}

@font-face {
   font-family: 'NotoSansCJKkr-B';
   font-style: normal;
   font-weight: normal;
	src: url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('opentype'),
		url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff') format('woff'),
		url('./../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.ttf') format('truetype');
 }
*/

@font-face {
   font-family: 'NotoSansCJKkr-R';
   font-style: normal;
   font-weight: normal;
	src: url('./../fonts/NotoSansCJKkr-Light/NotoSans-Regular.eot') format('embedded-opentype'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Regular.otf') format('opentype'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Regular.woff') format('woff'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Regular.woff2') format('woff2');
 }

@font-face {
	font-family: 'NotoSansCJKkr-M';
	font-style: normal;
	font-weight: normal;
	src: url('./../fonts/NotoSansCJKkr-Light/NotoSans-Medium.eot') format('embedded-opentype'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Medium.otf') format('opentype'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Medium.woff') format('woff'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Medium.woff2') format('woff2');
}

@font-face {
   font-family: 'NotoSansCJKkr-B';
   font-style: normal;
   font-weight: normal;
	src: url('./../fonts/NotoSansCJKkr-Light/NotoSans-Bold.eot') format('embedded-opentype'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Bold.otf') format('opentype'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Bold.woff') format('woff'),
		url('./../fonts/NotoSansCJKkr-Light/NotoSans-Bold.woff2') format('woff2');
 }

@font-face {
   font-family: 'NotoSansCJKcn-R';
	font-weight: normal;
	src: url('./../fonts/NotoSansCJKsc/NotoSansCJKsc-Regular.otf') format('opentype'), /* IE9 Compat Modes */
		url('./../fonts/NotoSansCJKsc/NotoSansCJKsc-Regular.woff') format('woff'), /* Modern Browsers */
		url('./../fonts/NotoSansCJKsc/NotoSansCJKsc-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
 }

@font-face {
   font-family: 'NotoSansCJKcn-M';
	font-weight: normal;
	src: url('./../fonts/NotoSansCJKsc/NotoSansCJKsc-Medium.otf') format('opentype'), /* IE9 Compat Modes */
		url('./../fonts/NotoSansCJKsc/NotoSansCJKsc-Medium.woff') format('woff'), /* Modern Browsers */
		url('./../fonts/NotoSansCJKsc/NotoSansCJKsc-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
 }

@font-face {
   font-family: 'NotoSansCJKcn-B';
	font-weight: normal;
	src: url('./../fonts/NotoSansMonoCJKjp/NotoSansMonoCJKjp-Bold.otf') format('opentype'), /* IE9 Compat Modes */
		url('./../fonts/NotoSansMonoCJKjp/NotoSansMonoCJKjp-Bold.woff') format('woff'), /* Modern Browsers */
		url('./../fonts/NotoSansMonoCJKjp/NotoSansMonoCJKjp-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
 }


@font-face {
   font-family: 'NotoSansCJKjp-R';
	font-weight: normal;
	src: url('./../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.otf') format('opentype'), /* IE9 Compat Modes */
		url('./../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff') format('woff'), /* Modern Browsers */
		url('./../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
 }


@font-face {
   font-family: 'NotoSansCJKjp-B';
	font-weight: normal;
	src: url('./../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.otf') format('opentype'), /* IE9 Compat Modes */
		url('./../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.woff') format('woff'), /* Modern Browsers */
		url('./../fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
 }

@font-face {
    font-family:'Ciutadella-SB';
    src: url('./../fonts/EMT-Ciutadella/Ciutadella-SemiBold.woff') format('woff'), /* Modern Browsers */
	     url('./../fonts/EMT-Ciutadella/Ciutadella-SemiBold.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/EMT-Ciutadella/Ciutadella-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family:'Ciutadella-M';
    src: url('./../fonts/EMT-Ciutadella/Ciutadella-Medium.woff') format('woff'), /* Modern Browsers */
	     url('./../fonts/EMT-Ciutadella/Ciutadella-Medium.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/EMT-Ciutadella/Ciutadella-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family:'Ciutadella-R';
    src: url('./../fonts/EMT-Ciutadella/Ciutadella-Regular.woff') format('woff'), /* Modern Browsers */
	     url('./../fonts/EMT-Ciutadella/Ciutadella-Regular.eot') format('embedded-opentype'), /* IE9 Compat Modes */
         url('./../fonts/EMT-Ciutadella/Ciutadella-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
